body{
    background-color: #F6F1E9;
    text-align: center;
}
.best
{
    color: blue;
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: left;
    margin-left: 30%
}
p{
    text-align: left;
    margin-left: 30%;
}
.Birdbtn{
    margin-left: -25%;
}
.title-img{
    width: 90%;
}
.Menu{
    padding: 10% 5%;
}
.nav-link{
    color: blue;
}
.navbar-brand{
    color: blue;
    font-size: 2.5rem;
}
